:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --ff-accent: "Fraunces", serif;
    --ff-base: "Montserrat", sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 14px;
    color: var(--grayish-blue);
    background-color: var(--cream);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 2rem);
    margin: 1rem;
}

.product {
    max-width: 600px;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
}

.product > * {
    flex: 1 1 50%;
}

.product-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.product-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
}

.product-content > p:not(.product-category) {
    line-height: 1.6;
}

.product-category {
    font-size: 0.8125rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.product-title {
    font-family: var(--ff-accent);
    font-size: 2rem;
    color: var(--dark-blue);
    line-height: 1;
}

.price-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.product-price {
    font-size: 2rem;
    color: var(--dark-cyan);
    font-weight: var(--fw-bold);
    font-family: var(--ff-accent);
}

.product-original-price {
    font-size: 0.8rem;
    text-decoration: line-through;
}

.add-btn {
    cursor: pointer;
    border: none;
    background-color: var(--dark-cyan);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    font-weight: var(--fw-bold);
    font-size: 0.925rem;
    padding: 0.85em 1.5em;
    border-radius: 0.5rem;
}

.add-btn::before {
    content: "";
    display: inline-block;
    background-image: url("images/icon-cart.svg");
    width: 15px;
    height: 16px;
}

.add-btn:is(:active, :hover) {
    background-color: hsl(158, 36%, 20%);
}

/* Mobile view */

@media (max-width: 600px) {
    .product {
        flex-direction: column;
    }
}
